:root {
	--background: white;
	--text: #0f0f0f;
	--button-background: white;
	--button-shadow: #ccc;
	--button-selection: #007aff;
}
@media (prefers-color-scheme: dark) {
	:root {
		--background: black;
		--text: #f1f1f1;
		--button-background: #222;
		--button-shadow: #000;
		--button-selection: #007aff;
	}
}

.main {
	display: flex;
	justify-content: center;
}
.coin_name {
	line-height: 1.5;
	display: inline-block;
	padding: 0 0 1em 1em;
}
.qrcode {
	width: 8em;
	height: 8em;
	display: inline-block;
	vertical-align: top;
	margin-left: 1.25em;
}
@media screen and (max-width: 1100px) {
	.main {
		display: block;
	}
	.coin_name {
		padding: 3em 0 1em 1.5em;
	}
	.qrcode {
		margin-left: 1.75em;
	}
}

html, body {
	margin: 0;
	background: var(--background);
	color: var(--text);
	font-family: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.header {
	font-size: x-large;
	text-align: center;
	padding: 1em 0.5em 0.5em;
}
.select_currency {
	display: grid;
	grid-template-columns: repeat(7, 6.7em);
	grid-template-rows: repeat(4, 6.7em);
	gap: 0.7em;
}
.coin_button {
	border: 0;
	padding: 0;
	cursor: pointer;
	white-space: nowrap;
	font-size: 0.8em;
	font-weight: 300;
	line-height: 2;
	color: var(--text);
	background: none;
	-webkit-font-smoothing: antialiased;
}
.rounded_square {
	display: block;
	border-radius: 8px;
	width: 4.5em;
	padding: 0.7em;
	line-height: 0;
	margin: 0 auto 0.3em;
	background: var(--button-background);
	border: 1px var(--button-background) solid;
	box-shadow: 1px 1px 8px var(--button-shadow);
}
.coin_icon {
	height: 4.5em;
}
.selected {
	border: 1px var(--button-selection) solid;
}
.wallet_address:focus {
	outline: none;
}

.make_payment {
	font-style: normal;
}
.wallet {
	display: none;
	white-space: nowrap;
}

.qrcode, .wallet_address {
    border-radius: 8px;
    font-size: 0.8em;
	border: 1px var(--text) solid;
	background: white;
	color: black;
}
.wallet_address {
	width: 6.4em;
	height: 6.4em;
	padding: 0.8em;
	margin: 0;
	resize: none;
	font-family: 'Inter';
	overflow: hidden;
}
.copy_address {
	display: inline-block;
	line-height: 0;
	text-align: center;
	margin-left: 0.3em;
}
.address_copied {
	font-size: 0.8em;
	line-height: 2;
	visibility: hidden;
}
