:root {
	--background: white;
	--text: #0f0f0f;
	--button-background: white;
	--button-shadow: #ccc;
	--button-selection: #007aff;
	--wallet-selection: #007aff;
}
@media (prefers-color-scheme: dark) {
	:root {
		--background: black;
		--text: #f1f1f1;
		--button-background: black;
		--button-shadow: #555;
		--button-selection: #007aff;
		--wallet-selection: #f1f1f1;
	}
}

body {
	margin: 0;
	background: var(--background);
	color: var(--text);
	font-family: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.header {
	font-size: x-large;
	text-align: center;
	padding: 1em 0.5em 0.5em;
}
.main {
	display: flex;
	justify-content: center;
}
.select_currency {
	display: inline-grid;
	grid-template-columns: repeat(5, max-content);
	gap: 0.5em;
	padding: 0.5em;
}
.coin_button {
	border: 0;
	padding: 0;
	cursor: pointer;
	white-space: nowrap;
	font-size: 0.8em;
	font-weight: 300;
	line-height: 1.5;
	color: var(--text);
	background: none;
	-webkit-font-smoothing: antialiased;
}
.rounded_square {
	display: block;
	border-radius: 8px;
	width: 3em;
	padding: 0.5em;
	line-height: 0;
	margin: 0 auto 0.3em;
	background: var(--button-background);
	border: 1px var(--button-background) solid;
	box-shadow: 1px 1px 8px var(--button-shadow);
}
.coin_icon {
	height: 3em;
}
.selected {
	border: 1px var(--button-selection) solid;
}
.wallet_address:focus {
	border: 1px var(--wallet-selection) solid;
	outline: none;
}

.make_payment {
	padding: 0.5em;
	font-style: normal;
}
.wallet {
	display: none;
}
.coin_name {
	line-height: 1.5;
	padding-bottom: 0.75em;
}

.qrcode, .wallet_address {
    border-radius: 8px;
    font-size: 0.8em;
	border: 1px var(--text) solid;
	background: white;
	color: black;
}
.qrcode {
	width: 8em;
	height: 8em;
	display: inline-block;
	vertical-align: top;
}
.wallet_address {
	width: 6.4em;
	height: 6.4em;
	padding: 0.8em;
	margin: 0;
	resize: none;
	font-family: 'Inter';
	overflow: hidden;
}
.copy_address {
	display: inline-block;
	line-height: 0;
	text-align: center;
	margin-left: 0.3em;
}
.address_copied {
	font-size: 0.8em;
	line-height: 2;
	visibility: hidden;
}
