.main {
	font-family: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	background: white;
	color: black;
}
.header {
	font-size: x-large;
	line-height: 2.5;
	text-align: center;
}
.coin_button {
	background: none;
	border: 0;
	padding: 0;
	cursor: pointer;
	white-space: nowrap;
	font-size: 0.8em;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}
.rounded_square {
	border: 1px white solid;
	border-radius: 8px;
	background: #fff;
	box-shadow: 1px 1px 8px #ccc;
	width: 3em;
	padding: 0.3em;
	line-height: 0;
	margin: 0 auto 0.3em auto;
}
.coin_icon {
	height: 3em;
}
.selected {
	border: 1px #007aff solid;
}
.select_currency {
	display: inline-grid;
	grid-template-columns: repeat(5, max-content);
	gap: 1em;
	padding: 1em;
}
.app {
	display: flex;
	justify-content: center;
}
.make_payment {
	padding: 1em 0.5em;
	font-style: normal;
}
.wallet {
	display: block;
}
.coin_name {
	line-height: 1.5;
	padding-bottom: 0.75em;
}
.qrcode {
	width: 8em;
	height: 8em;
	border: 1px black solid;
	border-radius: 8px;
	display: inline-block;
	vertical-align: top;
	font-size: 0.8em;
}
.wallet_address {
	border-radius: 8px;
	width: 6.4em;
	height: 6.4em;
	padding: 0.8em;
	margin: 0;
	resize: none;
	font-family: 'Inter';
	border: 1px black solid;
	overflow: hidden;
	font-size: 0.8em;
}
.wallet_address:focus {
	border: 1px #007aff solid;
	outline: none;
}
.copy_address {
	display: inline-block;
	text-align: center;
	margin-left: 0.3em;
}
.address_copied {
	font-size: 0.8em;
	visibility: hidden;
}
