<!DOCTYPE html>
<html>
<head>
	<meta name="robots" content="noindex,nofollow"/>
	<style>
		@font-face {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 300;
			font-display: swap;
			src: url('fonts/Inter-Light.woff2') format('woff2');
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
	</style>
	<link rel="stylesheet" href="css/default.css">
	<script src="js/default.js"></script>
	<link rel="icon" type="image/svg+xml" href="icons/usdt.svg">
	<title>Donate Crypto</title>
</head>
<body>
<section class="select_currency">
	<h2>Donate Crypto</h2>
	{% for row in screen %}
	{% for w in row['row'] %}
	<button class="coin_button" type="button" name="coin" value="{{ w['id'] }}" id="button-{{ w['id'] }}">
		<div class="rounded_square">
			<img src="{{ w['icon'] }}" alt="{{ w['name'] }}" class="coin_icon" id="icon-{{ w['id'] }}">
		</div>
		<br>{{ w['name'] }}
	</button>
	{% endfor %}
	<br>
	{% endfor %}
	<div class="invite_link">
		New to crypto? Register at: <a href="https://www.bybit.com/invite?ref=JAK052" target="_blank">https://www.bybit.com/invite?ref=JAK052</a>
	</div>
</section>
<section class="make_payment">
	<h2>&nbsp;</h2>
	{% for row in screen %}
	{% for w in row['row'] %}
	<div class="wallet" id="wallet-{{ w['id'] }}">
		<div class="info">
			{{ w['name'] }}
			<br>chain: {{ w['network'] }}
		</div>
		<img src="{{ w['qr'] }}" alt="QR code" class="qrcode">
		<br>
		<textarea readonly class="wallet_address">{{ w['address'] }}</textarea>
		<div class="copied">(Copied)</div>
	</div>
	{% endfor %}
	{% endfor %}
</section>
</body>
</html>